
     /*accede*/

     
     .regi{
        text-align: center;
        font-size: 5vh;
        display: grid;
        grid-template-columns: 100%;
       }
   
       .usu{
        font-size: 4vh;
        padding: 2vh;
       }
      
       a{
        color: aliceblue;
       text-decoration: none;
        padding: 2vh;
       }