
     /*footer*/

     footer{
        max-width: 100%;
        max-height: 10%;
        text-align: center;
        text-decoration: none;
       padding-top: 3vh;
       padding-block: 2vh;
        background-color: rgb(218, 140, 140);
     }
     
     .icono{
        width: 8vh;
        height: 8vh;
        color: antiquewhite;
        display: flex;
     }
     
     .redes{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-evenly
     }
     
     .icono:hover{
       transform: scale(2);
     }
 
