/*goat*/

.cabra{
    background-color: rgb(15, 15, 15);
    color:  #6b6e34;
    font-size: 5vh;
 }

 .debut{
    display: flex;
    justify-content: center;
    font-size: 3.1vh;
    background-color: red;

 }

 .laiu{
    max-width: 26vh;
    max-height: 84vh;
    
    
 }

 .porto2{
  font-size: 2.1vh;
  margin-bottom: 2vh;
 }

 .debutin{
    display: flex;
    justify-content: center;
    font-size: 3.1vh;
 }

 .laio{
    max-width: 26vh;
    max-height: 84vh;
 }

 .parra{
    font-size: 2.1vh;
  margin-bottom: 2vh;
 }
 

 .envoltura{
   grid-area: envoltura;
 }
  header{
    grid-area: header;
  }

  .goat{
    grid-area: primero;
  }

  .porto{
    grid-area: segundo;
  }

  .fotodebu{
    grid-area: tercero;
  }

  .divegoat1{
    grid-area: cuarto;
  }

  .primer{
    grid-area: quinto;
  }

  .primereando{
    grid-area: sexto;
  }

  .divegoat2{
    grid-area: septimo;
  }

  footer{
    grid-area: footer;
  }

  .envoltura{
    display: grid;
    grid-template-areas: 
    "header"
    "primero"
    "segundo"
    "tercero"
    "cuarto"
    "quinto"
    "sexto"
    "septimo"
    "footer";
  }

  .envoltura{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  @media (min-width:500px){
    .envoltura{
        display: grid;
        grid-template-areas: 
        "header"
        "primero"
        "segundo"
        "tercero"
        "cuarto"
        "quinto"
        "sexto"
        "septimo"
        "footer";
      }

      .cabra, .debut{
        text-align: center;
        margin-top: 2vh;
      }

      .fotodebu, .primereando{
        text-align: center;
      }

  }

  @media (min-width:750px){
   .envoltura{
      display: grid;
      grid-template-areas: 
      "header"
      "primero"
      "segundo"
      "tercero"
      "cuarto"
      "quinto"
      "sexto"
      "septimo"
      "footer";
    }

    body{
      background-color: rgb(17, 0, 0);
    }
    .debut{
      margin-bottom: 2vh;
      font-size: 5vh;
      background-color: rgb(17, 16, 16);
    }

    .debutin{
      margin-bottom: 2vh;
      font-size: 5vh;
      background-color: rgb(17, 16, 16);
    }
     .laiu:hover{
      border: 5px solid black;
      transform: scale(1.5);
     }
    .laio:hover {
      border: 5px solid black;
      transform: scale(1.5);
    }

    .porto2, .parra{
      font-size: 3vh;
    }
  }

  @media (min-width:1024px){
   .envoltura{
      display: grid;
      grid-template-areas: 
      "header"
      "primero"
      "segundo"
      "tercero"
      "cuarto"
      "quinto"
      "sexto"
      "septimo"
      "footer";
    }
    
    body{
      background-color: black;
    }

    .laio, .laiu{
      max-width: 78vh;
      max-height: 97vh;
      margin-top: 5vh;
      margin-bottom: 5vh;
      
    }

   
    header{
      display: flex;
      justify-content: space-between;
    }
    
    }