/*shop*/

.foshop{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50% 50%;
    padding: 3vh;
    justify-items: center;
    justify-content: space-between;
 }
 
 .duto{
    max-width: 82%;
    max-height: 80%;
    display: grid;
 }